Source: ros-kinetic-test-catkin-virtualenv
Section: misc
Priority: extra
Maintainer: Paul Bovbel <pbovbel@locusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-catkin-virtualenv, ros-kinetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-test-catkin-virtualenv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Package to test catkin_virtualenv.
