Source: ros-kinetic-test-catkin-virtualenv-py3
Section: misc
Priority: extra
Maintainer: Paul Bovbel <pbovbel@locusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-nose, ros-kinetic-catkin, ros-kinetic-catkin-virtualenv, ros-kinetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-test-catkin-virtualenv-py3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Package to test catkin_virtualenv in Python 3.
